.courses-page {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.course-categories {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease-in-out;
  margin-top: 80px;
}

.course-category {
  text-align: center;
  cursor: pointer;
}

.course-category img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.course-category:hover img {
  transform: scale(1.05);
}

.video-section {
  margin-top: 2rem;
  text-align: center;
}

.video-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video-card {
  width: 100%;
  position: relative;
  padding: 1rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: box-shadow 0.3s ease ;
  
}

.video-card h4 {
  margin-top: 0.5rem;
}
.video-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #111;
  border-radius: 8px;
  z-index: 2;
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
  
}

.play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border-radius: 50%;
  
}

.play-overlay:hover {
   background: rgba(134, 134, 134, 0.8);
}

@media (max-width: 768px) {
  
.course-categories {
  flex-direction: column;
  align-items: center;
}

.course-category img {
  width: 90px;
  height: 90px;
}

.video-grid {
  flex-direction: column;
  gap: 1rem;
}

.video-card {
  padding: 1rem;
}

.video-thumbnail img {
  border-radius: 6px;
}


}



